APPLICATION_HOST=127.0.0.1
APPLICATION_PORT=3002

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_DATABASE=postgres
POSTGRES_PORT=5432

POSTGRES_ECHO=true
# DATABASE_ENABLE_CONNECTION_POOLING precisa ser "false" para funcionar corretamente no Vercel com NeonDB
DATABASE_ENABLE_CONNECTION_POOLING=true

API_KEY=
