APPLICATION_HOST=logger
APPLICATION_PORT=3000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=esp-db
POSTGRES_DATABASE=postgres
POSTGRES_PORT=5432

RELOAD=false

POSTGRES_ECHO=true  # Set to false if you don't want to see SQL queries in the console
DATABASE_ENABLE_CONNECTION_POOLING=true  # Set to false to correctly work on Vercel

API_KEY=
